

body{
height: 100%;
margin: 0;
padding: 0%;
}
.header{
    background-color: #0d6c76;
    
}

h1{
    font-size: 40px;
    color: white;
}
h4{
    color: #0d6c76;
    font-weight: bold;
    padding: 10px;
    border-radius: 20px;
}
p{
    font-size: 20px;
    color: #0a0a0a;
}

footer{
    background-color: #0d6c76;
    margin-top: 100px;

}
.inicio{
    font-size: 20px;
    margin-left: 50px;
    
}
