html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.header{
    background-color: #0d6c76;
    padding: 0px;
    margin: 0px;
    
}

footer{
    background-color: #0d6c76;
    margin: 0%;

}
h2{
    color: #0d6c76;
    font-family:fantasy;
}
 
